<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Reader</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Слово</th>
                <th>TF</th>
                <th>IDF</th>
            </tr>
        </thead>
        <tbody>
            {% for item in context %}
            <tr>
                <td>{{ item.word }}</td>
                <td>{{ item.tf }}</td>
                <td>{{ item.idf }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>